In [62]:
import pandas as pd
import numpy as np
from datetime import timedelta, date

In [63]:
server = 'server_0'

In [64]:
problem_list = ['problem_' + str(num) for num in range(3)]
problem_list

['problem_0', 'problem_1', 'problem_2']

In [65]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

In [66]:
start_date = date(2020, 1, 1)
end_date = date(2020, 2, 1)

In [88]:
def error_generator(start_date, end_date):
    # Set seed for reproducibility
    np.random.seed(102)
    
    df = pd.DataFrame(columns=['server', 'problem_0', 'problem_1', 'problem_2', 'date'])
    daterange_list = daterange(start_date, end_date)
    for day in daterange_list:
        day_df = pd.DataFrame(columns=['server', 'problem_0', 'problem_1', 'problem_2', 'date'])
        day_df['server'] = [server]
        day_df['date'] = [day]
        for problem in problem_list:
            if problem == 'problem_2':
                problem_count = int(abs(np.round(np.random.normal(scale=10))))
                day_df[problem] = [problem_count]
                continue
            if abs(np.random.normal()) > 0.9:
                day_df[problem] = [1]
            else:
                day_df[problem] = [0]
        df = df.append(day_df, ignore_index=True, sort=True)
    return df.reset_index(drop=True)

In [89]:
error_data = error_generator(start_date, end_date)

In [69]:
error_data.head()

         date problem_0 problem_1 problem_2    server
0  2020-01-01         0         0        23  server_0
1  2020-01-02         0         0        19  server_0
2  2020-01-03         0         1         2  server_0
3  2020-01-04         1         1         4  server_0
4  2020-01-05         0         0         0  server_0

In [91]:
error_data.to_csv("data/mock_single_server_error_data.csv", index=False)

In [90]:
error_data

          date problem_0 problem_1 problem_2    server
0   2020-01-01         1         1        11  server_0
1   2020-01-02         1         1         3  server_0
2   2020-01-03         0         1         1  server_0
3   2020-01-04         1         1         0  server_0
4   2020-01-05         0         1         6  server_0
5   2020-01-06         1         1         1  server_0
6   2020-01-07         0         0        14  server_0
7   2020-01-08         0         0         6  server_0
8   2020-01-09         0         0        25  server_0
9   2020-01-10         0         0         0  server_0
10  2020-01-11         0         0        10  server_0
11  2020-01-12         1         0         2  server_0
12  2020-01-13         1         1         4  server_0
13  2020-01-14         0         1        16  server_0
14  2020-01-15         0         0        16  server_0
15  2020-01-16         0         1         1  server_0
16  2020-01-17         1         1        13  server_0
17  2020-01-18         0         1         6  server_0
18  2020-01-19         0         0        10  server_0
19  2020-01-20         1         1        15  server_0
20  2020-01-21         0         0         2  server_0
21  2020-01-22         1         1        13  server_0
22  2020-01-23         0         0         5  server_0
23  2020-01-24         0         0        10  server_0
24  2020-01-25         0         1         8  server_0
25  2020-01-26         1         1        14  server_0
26  2020-01-27         0         0         4  server_0
27  2020-01-28         0         0         9  server_0
28  2020-01-29         1         1         8  server_0
29  2020-01-30         0         1         3  server_0
30  2020-01-31         0         0         5  server_0

In [72]:
int(abs(np.round(np.random.normal(scale=10))))

6